################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/VisualGDB
/.vs/NB-Fi-STM32-Quickstart/v16
